<header>
  <div class="about-div">
    <a href = "/"> <img src={{logoURL}} id="logo" alt="" id="logo"></a>
    {{#if something}}
    <div class="other-buttons">
    <a href={{rulesURL}} target=_blank><button type="button" class="btn btn-light" id="nav-button-rules">How to Play</button></a>
    <a href="#"><button type="button" class="btn btn-light" id="nav-button-settings">Settings</button>
    <a href="#"><button type="button" class="btn btn-light" id="nav-button-about">About Us</button></a>
    <button type="button" class="btn btn-light" id="nav-button2">Balance: <span id="balance"> ${{balance}} </span></button></a>
    </div>
    {{/if}}
  </div>
</header>
<div class="black-bar">
  <h5> For a limited time, all deposits made to Kaami Co. will be matched and donated to charity! </h5>
</div>
