<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="nebulapic.jpg">
  <title> Kaami Co. - Page Not Found </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/404/frontPage.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
  <body>

    {{>nav}}
    <!-- <div class="black-bar">
      <h5> For a limited time, all deposits made to Kaami Co. will be matched and donated to charity! </h5>
    </div> -->

    <div id = "container">
      <img src="/404/404.png" id="fourOfour" alt="">
      <h1 class = "ohDeer">Oh,deer</h1><br>
      <h1 class = "ohDeer">The Page You Are Requesting Can Not Be Found</h1>
    </div>
  </body>
</html>
