<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../webdev/frontPage.css">
	<script src="../webdev/frontPages.js" charset="utf8" defer></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title>Kaami Co. BlackJack</title>
	<link rel="icon" href="/logo.png">
	<link rel="stylesheet" type="text/css" href="/black-jack/blackJack.css">
	<script src="/black-jack/blackJack.js" charset="utf8" defer></script>
</head>

<body>
	<!-- The below line is for not supported view ports -->
	<img id="not-supported" src="https://cdn.dribbble.com/users/671419/screenshots/2167477/browser_not_supported.png"
		alt="We do not support your browser size">
	<header>
		<div class="about-div">
			<img src="/black-jack/output-onlinepngtools.png" id="logo" alt="" id="logo">
			<div class="other-buttons">
				<a href="/rules" target=_blank><button type="button" class="btn btn-light" id="nav-button-rules">How to Play</button></a>
				<a href="#"><button type="button" class="btn btn-light" id="nav-button-settings">Settings</button></a>
				<a href="#"><button type="button" class="btn btn-light" id="nav-button-about">About Us</button></a>
				<button type="button" class="btn btn-light" id="nav-button2">Balance: <span
						id="balance">${{balance}}</span></button></a>
			</div>
		</div>
	</header>
	<div class="black-bar">
		<h5> For a limited time, all deposits made to Kaami Co. will be matched and donated to charity! </h5>
	</div>

	<img src="/black-jack/background.jpg" id="background-picture" alt="">


	<main class="content">
		<audio id="elevatorMusic" src="/black-jack/sounds/elevatormusic.wav" autoplay loop></audio>
		<audio id="buttonclickMusic" src="/black-jack/sounds/buttonclick.wav"></audio>
		<audio id="dealcardsMusic" src="/black-jack/sounds/dealcards.wav"></audio>
		<audio id="loseMusic" src="/black-jack/sounds/lose.wav"></audio>
		<audio id="pokerchipsMusic" src="/black-jack/sounds/pokerchips.wav"></audio>
		<div class="table-container">
			<aside class="chip-container" id="chip-container">

				<h2>Chips</h2>

				<div id="chip-buttons">
					<div id="chip-buttons">
						<div id="chip-buttons">
							<img id="5" src="/black-jack/5chip.png" alt="value 5">

							<img id="10" src="/black-jack/10chip.png" alt="value 10">

							<img id="50" src="/black-jack/50chip.png" alt="value 50">

							<img id="100" src="/black-jack/100chip.png" alt="value 100">

							<img id="500" src="/black-jack/500chip.png" alt="value 500">

							<img id="1000" src="/black-jack/1000chip.png" alt="value 1000">
						</div>
			</aside>
			<img src="/black-jack/stock felt.jpg" id="felt-picture" alt="felt picture">

			<button id="start-button" class="action-button">Start playing</button>

			<div class="actions">
				<button id="bet-button" class="action-button">Bet Amount: <span id="bet-amount">$0</span></button>
				<br>
				<button id="hit-button" class="action-button">Hit</button>
				<button id="stand-button" class="action-button">Stand</button>
				<button id="split-button" class="action-button">Split</button>
				<button id="next-hand-button" class="action-button">Next Hand</button>
				<button id="all-in-button" class="action-button">All In</button>

			</div>


				<div class="card-container">

					<div id="dealer-cards">
						<span>Dealer Hand</span>
					</div>
					<div id="player-cards">
						<span>Player Hand</span>
					</div>
					<div id="dummy-deck"></div>

				</div>
		</div>

	</main>
	<!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
	<!-- The following code is develop by Lyon and Ryan  -->
	<!-- The following code is for the about us modal pop up -->
	<div class="backdrop hidden"></div>

	<div class="about-us hidden">
		<button id="X">X</button>
		<h1 class="title">About Us (Q&A)</h1>
		<h2>What are we?</h2>
		<p>This website is known as Kaami Co. It is the product of Oregon State
			University's Fall 2020 CS290 Web development group 8's Final project.
			Kaami is desgined to be a Casino on the main page, with games modulated
			and integrated onto it. It is for people who enjoy betting have a go
			at betting in different games, on the far stretch of this project we
			hope to be able to implement accounts, account tied balances, and
			other games such as Poker, Slots, Roulette.
		</p>
		<h2>Who are we?</h2>
		<p>We are a group of student taking Web Development CS290 in Oregon State
			University. We've worked hard through these three weeks starting from
			November 17, 2020 to prodly bring about Kaami Co., a casino page that
			is modulated with games. The 4 of us are located all across the world
			due to the 2020 COVID 19 pandemic. We have people that are currently
			in Oregon where the root of this course is, as well as people that are
			currently in Malaysia and Singapore. Working around this was not easy
			with the time differences, the number of final projects and assignments
			that were assigned by other courses makes it hard to put time into
			Kaami, but careful planing and dedication gave rise to the current
			product.
		</p>
		<h2>Why Kaami?</h2>
		<p>This is the product of our final project, lasting 2 - 3 weeks. We have
			discussed multiple projects and find this the most scalable idea which
			is agreeable amongst the 4 of us. Each of us are able to spend the
			minimal work done to get the page to meet the requirements and also
			to go the extra mile to turn this page into a grand casino.
		</p>
		<h2>CREW</h2>
		<div class="faces">
			<div class="face">
				<img class="devPhoto" src="../webdev/Ryan.jpg" alt="a dummy profile picture">
				<h4 class="name" style="color:#e3a712">
					Ryan Su
				</h4>
				<p>
					My name is Ryan. My nationality is Chinese. I was born in China and
					moved to the US at around age 10. It was definitely a life-changing
					experience for me and for my family. If you were to ask my 10 years
					old me whether I like to move to the US or not, I will, without a
					heartbeat say NO. However, if you were to ask the 20 years old me,
					which is right now, I would absolutely say YES, it is totally
					worth it.
				</p>
			</div>

			<div class="face">
				<img class="devPhoto" src="../webdev/YuWei.jpg" alt="a dummy profile picture">
				<h4 class="name" style="color:#e3a712">
					Yu Wei Koh
				</h4>
				<p>
					Hi there! My name is Yu-Wei I am a Singaporean Chinese that started in OSU Fall 2019. Like our
					partner Sam, I have a background in business administration and I plan to combine my degree in CS to
					create my own start-up (hopefully). As part of the Kaami development team, I worked on user
					instructions (how to play) and also programming of the blackjack game site.
				</p>
			</div>

			<div class="face">
				<img class="devPhoto" src="../webdev/Sam.jpg" alt="a dummy profile picture">
				<h4 class="name" style="color:#e3a712">
					Samuel Tran
				</h4>
				<p>
					My name is Samuel Tran. I am the co-developer at Kaami Co. I have a Chinese and Vietnamese
					background and I am very proud to represent my nationalities. My love for business mixed with coding
					has led me down an inevitable path: "Sneaker Botting". In my downtime, I enjoy playing Tennis and
					Basketball. I mostly play recreationally but I have been on teams before. I am apart of Kaami to
					develop the first US-approved Online Casino. My role for the team is being responsible for the
					accoutrements of audio and visual components of the website and HTML/CSS integration.
				</p>
			</div>

			<div class="face">
				<img class="devPhoto" src="../webdev/Lyon.jpg" alt="a dummy profile picture">
				<h4 class="name" style="color:#e3a712">
					Lyon Kee
				</h4>
				<p>
					I'm a Malaysian that transfered to OSU starting January 2020. I am
					currently residing in Malaysia due to the Coronavirus Pandemic.
					Normally I would endorse in sports, and mostly badminton as it is
					very famous in my country, but it is no longer the case because I
					am awake at night for courses and no one is playing at that time.
					The role I'm playing in this project is to assist with the
					development of blackJack, develop an about us page, and to develop
					settings throughout the site.
				</p>
			</div>
		</div>
		<button id="close">Close</button>
	</div>

	<!-- The above code is develop by Lyon and Ryan  -->
	<!-- The above code is for the about us modal pop up -->
	<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

	<!-- The below code is developed by Lyon and Sam -->
	<!-- The below code is for the settings modal pop up -->
	<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
	<div class="backdropSettings hidden"></div>

	<div class="settings-box hidden">
		<h2 class="titleSettings">Settings</h2>
		<div class="settings-content">
			<label class="volume">Music volume:
				<br>
				<input type="checkbox" class="mute" id="music-button" value="music">
				<span class="mute-icon"></span>
				<input id="music-slider" type="range" min="0" max="100" value="50" class="slider"></input>
			</label>

			<label class="volume">Sound effects volume:
				<br>
				<input type="checkbox" class="mute" id="SFX-button" value="SFX"> </input>
				<span class="mute-icon"></span>
				<input id="SFX-slider" type="range" min="0" max="100" value="50" class="slider"></input>
			</label>

		</div>
		<div class="flex">
			<button id="saveSettings">SAVE</button>
			<button id="closeSettings">CLOSE</button>
		</div>

	</div>
	<!-- The below code is for alerts to pop up and deliver messages -->
	<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
	<div id="alert" class="hidden">
		<button id="alertX">X</button>
		<p></p>
	</div>

</body>

</html>
