<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kaami Co. How To Play</title>
    <link rel="icon" href="/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/HowToPlay/rules.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
<!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR -->
  {{>nav}}
<!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR --><!-- NAV BAR -->

<!-- How To Play --><!-- How To Play --><!-- How To Play --><!-- How To Play -->
    <div class="container">
      <div class = "w3-animate-bottom">
      <div class="card">
        <div class="card-body">
          <div id="HowToPlay">
            <p id="titleSize">Blackjack Rules</p>
            <h2>Objectives</h2>
          </div>

          <div>
            <p><strong id = "heading">Beating the dealer</strong></p>
            <p>There are multiple ways to beat the dealer in blackjack</p>
          </div>

          <div>
            <ol>
              <li>Drawing a hand of higher value than the dealer but less than 22</li>
              <li>Drawing a hand of 21 with the first 2 cards</li>
            </ol>
          </div>

          <div>
            <p><strong id = "heading">Losing to the dealer</strong></p>
            <p>This happens when</p>
          </div>
          <div>
            <ol>
              <li>You draw a hand of value that is higher than 21</li>
              <li>The dealer has a hand of higher value than yours but less than 22</li>
            </ol>
          </div>

          <h2 id="valueOfCards">Values of Cards</h2>
          <img id="blackjackImg" src="/HowToPlay/Blackjack-values.png" alt="valueOfCards">

          <div id="valueOfCards">
          <p>The values of cards can be seen as above. </p>
            <ul valueOfCards>
              <li>The cards 2-10 count as their face value. 2 counts as two,
              10 counts as ten.</li>
              <li>Picture cards (J, Q and K) counts as ten.</li>
              <li>The Ace cards counts as 1 or 11 as to the players preference. </li>
            </ul>
          </div>

          <h2 id="valueOfCards">Order of Game</h2>

          <div>
            <ol>
              <li ><strong id = "heading" >Betting phase</strong> </li>
              <p>The player places his bet.</p>
              <li><strong id = "heading">Dealing phase</strong> </li>
              <p>The shuffled deck gets dealt by the dealer. In a clockwise direction,
                 the dealer will deal cards face up until all players including the
                 player has 1 face up card. The dealer will then deal another round
                 of cards to players face up and then one face down for him/herself.
                 At the end of the dealing phase, each player should have 2 face up
                  cards while the dealer has 1 face up card and 1 face down card.
              </p>
              <li><strong id = "heading">Play phase </strong></li>
                <p><em style ="color:green">Stand</em> – You like your cards and
                would not like to draw anymore<br></p>
                <p><em style ="color:red">Hit</em> – You would like to improve
                the total of your hand.
                You can do this as many times as you want until you are bust
                (had total more than 21)  <br></p>
                <p><em style ="color:yellow">Split</em> – You have been dealt a
                pair of cards. You now have the option of putting down a second
                bet with the 2 dealt cards</p>

              <li><strong id = "heading">End Phase</strong></li>
              <p>Once all players have completed their play phase, the dealer
                will proceed with theirs. </p>
              <p>There are 3 possible scenarios in this phase:</p>
              <p class = "endPhaseLineGap" >You win the hand and the Dealer with play you your bet.
                This will happen when:</p>
              <ul>
                <li>The Dealer has a higher hand than you</li>
                <li>The Dealer is bust (hand higher than 21)</li><br>
              </ul>

              <p class = "endPhaseLineGap" >You lose the hand and you forfeit your bet. This will happen when:</p>
              <ul>
                <li>You are bust (hand higher than 21)</li>
                <li>You have a higher hand than the Dealer </li><br>
              </ul>

              <p class = "endPhaseLineGap" >It is a tie. You keep you bet. This will happen when:</p>
              <ul>
                <li>Both you and the dealer have the same card total</li>
              </ul>

            </ol>
          </div>
        </div>
<!-- How To Play --><!-- How To Play --><!-- How To Play --><!-- How To Play -->
  </body>
</html>
