/* .hidden {
	display: none;
} */
body {
	font-family: Alice;
	font-size: 20px;
	color: white;
}

.backdrop {
	background-color: rgba(128, 128, 128, 0.75);
	z-index: 1000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.settings-box {
	background-color: #281657;
	border: 3px solid #e3a712;
	border-radius: 10%;
	z-index: 1010;
	position: fixed;
	top: 15%;
	bottom: 20%;
	left: 25%;
	right: 25%;
	padding: 2% 10%;
	margin: 0;
	overflow: hidden;
	min-width: 380px;
	min-height: 420px;
}

.title {
	font-size: 45px;
	margin: 2% 0 3% 0;
	position: relative;
	right: 36px;
}

.settings-content {
	padding: 10px 0;
	display: flex;
	flex-flow: column wrap;
	overflow: hidden;
}

label {
	vertical-align: top;
	font-weight: 500;
	font-size: 30px;
}

.mute {     
    position: relative;
    left: -100%;
}

.mute + .mute-icon:after {
	content: url(unmute.png);
}

.mute:checked + .mute-icon:after {
    content: url(mute.png);
}

.slider {
	width: 75%;
	cursor: pointer;
	appearance: none;
	outline: none;
	border: #e3a712 3px solid;
	border-radius: 30px;
	height: 30px;
	background-color: #a79db3;
	position: relative;
	z-index: 2000;
}

.slider::-webkit-slider-thumb{
	appearance: none;
	width: 30px;
	height: 30px;
	background-color: #281657;
	border: #e3c412 2px solid;
	border-radius: 30px;
}
.slider::-webkit-slider-thumb:hover{
	transition: all;
	transition-duration: .2s;
	width: 50px;
	height: 50px;
}

select {
	width: 150px;
	padding: 10px 20px;
	margin: 0;
	outline: none;
	font-weight: 700;
	font-size: 70%;
}

option {
	font-size: 150%;
	font-weight: 700;
}

.light {
	background-color: lavenderblush;
}


.dark {
	color: whitesmoke;
	background-color: black;
}

.flex {
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
}

#save,
#close {
	background-color: antiquewhite;
	display: inline-block;
	width: 90px;
	height: 50px;
	font-weight: 700;
	font-size: 18px;
	font-family: Alice;
	border: 2px solid cadetblue;
	border-radius: 20px;
}

#save:hover,
#close:hover {
	transform: scale(1.15);
	transition: all;
	transition-duration: .2s;
}